In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.3'

In [10]:
df = pd.read_csv('D:\data-engineering-zoomcamp\week_1_basics_n_setup\\2_docker_sql\green_tripdata_2019-01.csv.gz',compression='gzip', nrows=100)

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

In [11]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [12]:
df_iter = pd.read_csv('D:\data-engineering-zoomcamp\week_1_basics_n_setup\\2_docker_sql\green_tripdata_2019-01.csv.gz',compression='gzip', iterator=True, chunksize=100000)

In [13]:
df_iter

In [14]:
df = next(df_iter)

In [15]:
len(df)

100000

In [16]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [17]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [18]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: total: 8.11 s
Wall time: 18.2 s

1000

In [19]:
from time import time

In [20]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 20.194 second
inserted another chunk, took 17.270 second
inserted another chunk, took 17.098 second
inserted another chunk, took 17.459 second
inserted another chunk, took 16.854 second
inserted another chunk, took 5.478 second

StopIteration:

In [30]:
df_zones = pd.read_csv('D:\data-engineering-zoomcamp\week_1_basics_n_setup\\2_docker_sql\\taxi+_zone_lookup.csv')

In [34]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [35]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265